<div id="container">
	<div id="header">
		<div id="logo">
			<span>M</span>
		</div>
		<h1>Welcome to Mastellonium suite</h1>
		<ul id="version">
			<li>
				<span>Made by: </span>Federico Mastellone
			</li>
			<li>
				<span>Design by: </span>Linux Mint
			</li>
			<li>
				<span>Chorized by: </span>Lucas Tettamanti
			</li>
			<li>
				<span>Version: </span>0.1
			</li>
		</ul>
		<p>
			Esta bueno que a veces haya gente incompetente, indirectamente, 
			ellos son los que impulsan la creatividad en el resto. Esto hace 
			que para remediar deficiencias ajenas, otros deben exceder lo 
			normal y crear, construir, edificar; de esta manera se logra un 
			balance. Para ir cerrando, si usas IE sos un gil.
		</p>
		<a id="install" href="/install.php">How to Install</a>
	</div>
	<div id="content">
		<ul id="title">
			<li class="title first">Tests</li>
			<li class="title larger">Browsers</li>
		</ul>
		<ul id="testList">
                </ul>
                <a id="newtest" href="/new.php">New Test</a>
	</div>
</div>

