<p id="anIdNeededByTheUsers1" class="jsMVC-translation" data-jsMVC-translation="HELLO_WORLD"></p>
<pre id="anIdNeededByTheUsers2" class="jsMVC-translation" data-jsMVC-translation="HELLO_WORLD"></pre>
<img src="http://www.google.com/images/nav_logo38.png" height="100" width="100"/>
<table border="1">
	<tr>
		<td id="tdToHide">row 1, cell 1</td>
		<td>row 1, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
</table>
<img src="http://gnome-look.org/CONTENT/content-files/80932-ubuntuhhok5.png" height="100" width="100"/>
<img src="http://sites.google.com/site/wereliondernalis/Werelion-2560x1600.jpg" height="100" width="100"/>
<img src="http://gnome-look.org/CONTENT/content-files/65704-Landscape.jpg" height="100" width="100"/>

